# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
.env
*.log

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated QR images
qr_code/static/qr_code/qr_code_img/*
