{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Code maker</title>
    <link rel="stylesheet" href="{% static 'qr_code/css/style.css' %}">
    <script defer src="{% static 'qr_code/js/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <form method="post">
            <h1>QR Code Generator</h1>
            {% csrf_token %}
            <input type="text" id="url" name="url" autocomplete="off" 
                title="Shift+Enter" value="{{ input_value }}"
                placeholder="Input URL or some text" required>
            <button type="submit" id="btn-generate" title="Enter">Generate QR Code</button>
        </form>
        {% if qr_url %}
        <form method="post" action="{% url 'delete_all_qrs' %}"
            onsubmit="return confirm('Are you sure? This will delete all generated qr codes.');">
        {% csrf_token %}
        <button type="submit" id="btn-delete">
            Delete all QR Codes
        </button>
        </form>
            <div id="img-block">
                <img src="{% static qr_url %}" alt="QR Code" title="{{ input_value }}">
                <a href="{% url 'download_qr' qr_filename %}" class="btn-download">Download QR</a>
            </div>
        {% endif %}
    </div>
</body>
</html>